* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/*********** APPLICATION BOX ***********/

.app-box {
  background-color: #ebedee;
  color: #3a4a54;
  max-width: 600px;
  min-height: 100vh;
  margin: auto;
  box-shadow: 0 2px 32px 0px rgba(0, 0, 0, 0.301);
}

/*********** HEADER ***********/

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3a4a54;
  color: #fff;
  height: 190px;
  width: 100%;
  border-radius: 0 0 0 40px;
}

.header-title {
  font-size: 48px;
  font-weight: 100;
  margin-bottom: 10px;
}

.header-date {
  font-size: 14px;
  font-weight: 300;
}

.illustration {
  position: absolute;
  right: 0;
  top: 3%;
  max-width: 28%;
}

/*********** MODAL ***********/

.modal-open {
  filter: blur(5px);
}

.modal {
  position: relative;
  background-color: #95af91;
  color: #fff;
  width: 400px;
  margin: auto;
  border: none;
  border-radius: 10px;
}

.modal-heading {
  font-weight: 400;
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 18px;
}

.task-input {
  background-color: #e7e8eb;
  height: 36px;
  width: 250px;
  padding: 0 12px;
  border: none;
  border-radius: 5px;
}

.no-value {
  color: #344232;
  height: 28px;
  margin-top: 12px;
}

.exit-btn {
  position: absolute;
  top: 4%;
  right: 2%;
  font-size: 18px;
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.save-btn {
  background-color: #fff;
  color: #5b7457;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #ebedee;
}

/*********** TASKS DISPLAY ***********/

.task-container {
  margin: 64px 32px;
}

.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

/*********** TASKS ***********/

.list-item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  margin-bottom: 10px;
}

.list-task-text {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #fff;
  gap: 32px;
  padding: 14px 14px 14px 24px;
  border-radius: 10px 0 0 10px;
  text-transform: capitalize;
  cursor: pointer;
}

.task-heading-text {
  font-size: 18px;
  max-width: 270px;
}

.task-date-text {
  color: #999;
  font-size: 12px;
}

/*********** TASK BUTTONS ***********/

.deletetask-btn,
.edittask-btn {
  background-color: #fff;
  color: #3a4a54b7;
  height: 50px;
  /* width: 45px; */
  border: none;
  cursor: pointer;
}

.deletetask-btn {
  border-radius: 0 10px 10px 0;
}

.edittask-btn {
  margin-left: 3px;
}

.deletetask-icon,
.edittask-icon {
  width: 18px;
  height: 18px;
  padding: 0 8px 0 8px;
}

/*********** TASKS COMPLETED ***********/

.completed {
  background-color: #e1e2e4;
  filter: opacity(50%);
}

.list-item-completed {
  text-decoration: line-through;
}

/*********** FOOTER APPLICATION BUTTONS ***********/

.footer {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 8%;
}

.addtask-btn {
  margin-bottom: 16px;
  background-color: #7a9b75;
  color: #fff;
  height: 60px;
  width: 60px;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.editlist-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.editlist-btn {
  background-color: #7a9b75;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
}

.editlist-btn:hover,
.addtask-btn:hover {
  background-color: #6e8c69;
}

.hidden {
  display: none;
}
