* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #a68a64;
  font-family: "Roboto", sans-serif;
  color: #fff;
  max-width: 700px;
  min-height: 80vh;
  margin: auto;
  box-shadow: 0 2px 16px 1px rgba(0, 0, 0, 0.3);
}

.header {
  height: 20vh;
  background-image: url("/images/desk.jpg");
  background-color: #a68a64;
  background-size: cover;
  background-position: 10% 35%;
  width: 100%;
}

.content {
  text-align: center;
  padding: 48px;
}

.newtask-dialog {
  border: none;
  height: 250px;
  width: 500px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.new-task-input,
.new-taskdate-input {
  height: 36px;
  padding: 0 12px;
  background-color: #e7e8eb;
  border: none;
  border-radius: 5px 0 0 5px;
}

.add-task-btn {
  background-color: #6b3620;
  color: #fff;
  height: 36px;
  width: 36px;
  font-size: 26px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.heading {
  font-weight: 400;
  letter-spacing: 2px;
  margin: 48px 0 32px 0;
}

.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.list-item {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-bottom: 8px;
}

.list-task-text {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 32px;
  background-color: #b6ad90;
  color: #0b182f;
  padding: 16px;
  cursor: pointer;

  width: 500px;
}

.list-item-completed {
  text-decoration: line-through;
  background-color: #88816c;
}

.task-text {
  text-align: start;
}

.task-heading-text {
  font-size: 18px;
}

.task-date-text {
  font-size: 12px;
  color: #0b182fb9;
}

.deletetask-btn,
.edittask-btn {
  color: #6b3620;
  cursor: pointer;
  height: 60px;
  width: 45px;
  border: none;
}

.deletetask-icon,
.edittask-icon {
  width: 20px;
  height: 20px;
}

.list-task-btns {
  display: flex;
  gap: 2px;
}

.footer-btn-section {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  display: none;
}

.footer-btn {
  background-color: #6b3620;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
}
